* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Spectral", serif;
  // font-family: "Inter", sans-serif;
}

$brand-blue: #1d4f7d;
$brand-lightblue: #5fb4dc;
$brand-mustard: #a3855f;
$brand-yellow: #fbc885;
$brand-bg-yellow: #fff7ed;
$brand-gray-text: #7e7e7e;

.button {
  padding: 20px 45px;
  background: $brand-mustard;
  color: white;
  text-decoration: none;
  transition: 0.2s ease;
  margin-top: 30px;
  max-width: 240px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}

.mobile-only {
  display: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  line-height: 1.5;
}

h1 {
  font-size: 100px;
  line-height: 1;
  margin: 45px 0px;
}

.mobile-only-hero {
  display: none;
}
p {
  font-size: 24px;
  line-height: 1.5;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.mustard {
  color: $brand-yellow;
}

.quote-text {
  font-size: 28px;
  font-style: italic;
}

h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.mustard {
  margin-bottom: 10px;
  line-height: 0.5;
}

.subdued {
  font-size: 28;
  font-style: italic;
  opacity: 0.5;
}

.main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 30px;
  .content {
    flex-direction: row;
    width: 80%;
    max-width: 80%;
    padding: 30px;
  }
}

// header
.header {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: 60px;
  position: relative;
  background-color: $brand-blue;
  color: white;

  // center everything, looks better
  text-align: center;
  align-items: center;

  h1 {
    margin-bottom: 30px;
    color: white;
  }

  .logo {
    width: 240px;
    position: absolute;
    top: 60px;
    left: 60px;
  }

  .header-content {
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  video {
    mix-blend-mode: multiply;
    object-fit: cover;
    object-position: bottom right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
  }
  .divider-line {
    height: 1px;
    width: 650px;
    max-width: 90vw;
    background-color: white;
    opacity: 0.33;
    margin: 30px 0px;
  }

  .divider-line:nth-of-type(3) {
  }

  .speaker-info {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    color: $brand-yellow;
    align-items: center;
    text-align: left;
    h2 {
      margin-left: 15px;
      line-height: 1;
    }

    .mustard {
      margin-bottom: 15px;
    }
  }

  .desantis-portrait {
    width: 150px;
    height: 150px;
  }
}

// hero-banner
.hero-banner {
  width: 100vw;
  min-height: 50vh;
  background-image: url("assets/hero-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// about
.about {
  background: #fff8f0;
  // position: relative;
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    border-radius: 6px;
    text-align: left;
  }

  .about-heading {
    color: $brand-mustard;
  }

  .description-block {
    margin-bottom: 30px;
    max-width: 650px;
  }

  p {
    color: $brand-blue;
    font-style: italic;
    font-weight: 100;
  }
  a {
    color: #46a8d7;
    text-decoration: underline;
  }

  .column-image {
    width: 300px;
    position: absolute;
    right: 120px;
  }

  #column-top {
    top: 30px;
  }

  #column-bottom {
    bottom: 120px;
  }

  .about-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;

    h3 {
      font-size: 20px;
      font-style: italic;
    }
  }
}

// responsiveness_____

// laptop
@media screen and (max-width: 1440px) {
  .main {
  }
}

// ipad
@media screen and (max-width: 1024px) {
  video {
    display: none;
  }

  .mobile-only-hero {
    display: flex;
    object-fit: cover;
    object-position: bottom right;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }

  .event-info {
    padding: 0px;

    .content-boxes {
      flex-direction: column;
    }
    .infobox {
      width: 100%;
    }

    .subbox {
      width: 100%;
    }
  }

  .button {
    margin-bottom: 45px;
  }
}

//   mobile
@media screen and (max-width: 768px) {
  .row {
    padding: 0px 30px;
  }

  .row .content {
    width: 100vw;
    max-width: 100vw;
  }
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .header {
    position: relative;
    text-align: center;
    padding: 60px 0px;

    .logo {
      position: absolute;
      transform: none;
      top: 15px;
      left: 50%;
      transform: translateX(-50%) scale(0.7);
    }

    h2 {
      margin-bottom: 30px;
      font-size: 18px;
    }

    .speaker-info {
      flex-direction: column;
      text-align: center;
      h2 {
        font-size: 32px;
        margin: 0px;
      }

      .desantis-portrait {
        margin-bottom: 30px;
      }
    }
  }

  .hero-banner {
    height: 30vh;
    background-position: center center;
  }

  .row .content {
    border-radius: 0px;
  }

  .about {
    padding: 300px 0px;
    .column-image {
      width: 150px;
      position: absolute;
    }

    #column-top {
      top: 0px;
      transform: translateY(-200px);
    }

    #column-bottom {
      bottom: 15px;
      // width: 200px;
      transform: translateY(200px);
    }

    .about-footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
